{% extends "base.html" %}
{% block title%}Log in{% endblock %}

{% block content %}

<div class="auth-container">
<form method="POST">
<h3 class="text-center mb-4">Login</h3>
<div class="form-floating mb-3">
<input
type="email"
name="email"
id="email"
class="form-control"
placeholder="name@example.com"
required
/>
<label for="email">Email address</label>
</div>
<div class="form-floating mb-3">
<input
type="password"
name="password"
id="password"
class="form-control"
placeholder="Password"
required
/>
<label for="password">Password</label>
</div>
<br />
<button type="submit" class="btn btn-primary w-100">Login</button>
</form>
</div>
{% endblock %}